<section class="portfolio-container">
  <h2 class="grey-large">
    Hello ...
  </h2>
  <h2 class="name">
    ... I'm Igor Martis.

  </h2>
  <!-- <p class="intro">
    I am a web developer based in Cagliari, Sardinia, Italy.
    I love coding and I'm always building something cool to explore new technologies.
    Developer by day and ... photographer by night. Video and photo addicted.
    In the spare time I do sports, swimming is the favourite.
  </p> -->
  <p class="intro">
      Sono un web developer e vivo in provincia di Cagliari, Sardegna.
      Adoro scrivere codice e ho sempre qualche progetto extra che sviluppo per esplorare le nuove tecnologie.
      Developer di giorno e ... fotografo di notte. Praticamente drogato di video e fotografia, compreso l'editing.
      Nel tempo libero(poco) faccio sport, principalmente nuoto.
    </p>
</section>
