.portfolio-container {
  margin: 0 auto;
  text-align: center;
}



@keyframes go-up {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-22%);
  }

  100% {
    transform: translateY(-50%);
  }
}


@keyframes back-color {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 15% 100%;

  }
}

h2 {
    font-weight: bold;
}

.grey-large {
  font-size: 5.2em;
  color: #ccc;

}

.portfolio-container h2 {
  padding-top: 75px;
  padding-bottom: 50px;
}

.intro {
    text-align: left;
    font-size: 2.5em;
    line-height: 1.6em;
    color: #969696;
    padding: 5% 10% 10% 10%;;
}

.name {
    font-size: 5.7em;
    line-height: 1.1em;
    font-family: 'Raleway', sans-serif;
    color: #434343;
}