<section>
  <div class="contacts-wrapper">
    <div id="contacts">
      <article>
        <div class="article artc1">
          <h2>Keep in touch</h2>
          <p>
            Hai un progetto da sviluppare? Vorresti semplicemente una chiaccherata amichevole?
            Mandami una mail e ne parleremo davanti ad una birra
          </p>
          <p>
            Got a project you would like me to work on? Just a friendly chat? Contact me to have a lovely brew.
          </p>
          <h3>Email</h3>
          <p><a href="mailto:igor.martis@live.com">igor.martis@live.com</a></p>
        </div>
      </article>
      <article>
        <div class="article artc2">
          <h2>Social Networks</h2>
          <p>Seguimi su</p>
          <p>Push the follow button on</p>
          <ul>
            <li><a href="http://www.linkedin.com/in/igormartis" target="_blank">linked
                in</a></li>
          </ul>
        </div>
      </article>
      <div class="clear"></div>

    </div>
  </div>
</section>
