<header>
  <h5> &lt; MONACO - U-Bahn &gt;</h5>
  <div class="top-right">
    <img src="../../../assets/img/desktop.svg" alt="desktop breakpoint signal">
  </div>
  <div class="top-right-smartphone">
    <img src="../../../assets/img/smartphone-call.svg" alt="smartphone breakpoint signal">
  </div>
  <section>
    <div>
      <img src="../../../assets/img/left-angle-bracket.svg" class="html-code" alt="left angle bracket svg">
      <img src="../../../assets/img/divide-mathematical-sign.svg" class="html-code slash" alt="slash character">
      <img src="../../../assets/img/left-angle-bracket.svg" class="html-code reflect" alt="right angle bracket svg">
    </div>
    <h1 class="header-title">Igor Martis</h1>
    <h3 class="header-subtitle">Full Stack Web Developer</h3>
    <div class="itemset" ngsReveal>
      <div class="box box1 slide-in-right" ngsReveal></div>
      <div class="box box2 slide-in-right" ngsReveal></div>
      <div class="box box3 slide-in-right" ngsReveal></div>
    </div>
  </section>
  <h4> &lt; SCROLL DOWN &gt;</h4>
</header>