<section>
  <div class="specs-wrapper">
    <div id="specs">
      <div class="grey-large">
        Curiosità
      </div>
      <div class="intro">
        Questa pagina è stata realizzata con <a href="https://angular.io/">Angular v7</a>.
        <br>
        Le animazioni sono realizzate con <a href="#">CSS3</a>
        <br>
        E' hostata su <a href="https://firebase.google.com/">Firebase</a>
        <br>
        Utilizza lo <a href="https://firebase.google.com/docs/storage/">storage</a> di Firebase.
        <br>
        Le animazioni sono realizzate con <a href="#">CSS3</a>
      </div>
    </div>
  </div>
</section>
